.sidebar {
    background-color: #171717;
    color: #b4b4b4;
    height: 100vh;
    width: 320px;
    display: flex;
    flex-direction: column;
    overflow: hidden;   /* Important */
}

.history {
    flex: 1;          
    overflow-y: auto;   
    margin: 10px;
    padding: 10px;
    min-height: 0;      /* Important for flex layouts */
}


button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: transparent;
    border: solid 1px rgba(255,255,255,0.5);
    cursor: pointer;
}

.logo{
    height: 27px;
    width: 27px;
    background-color: #fff;
    border-radius: 40%;
    object-fit: cover;

}

button i {
    font-size: 20px;
}

button:hover{
    background-color: rgba(180,180,180,0.05);
}


.history li{
    list-style-type: none;
    cursor: pointer;
    padding: 2px 5px;
    margin-bottom: 0.3rem;
    font-size: 14px;
    border: solid 10px transparent;
    position: relative;
}

.history li:hover{
    background-color: rgba(180,180,180,0.05);
    border-radius: 10px;
}

.sign{
    padding: 10px;
    margin: 10px;
    font-size: 10px;
    text-align: center;
    border-top: solid 0.2px rgba(255,255,255,0.5);
}